/* Webfont: NMSFuturaProBook-Regular */@font-face {
    font-family: 'NMSFuturaProBook';
    src: url('NMSFuturaProBook_Kerned.eot'); /* IE9 Compat Modes */
    src: url('NMSFuturaProBook_Kerned.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NMSFuturaProBook_Kerned.woff') format('woff'), /* Modern Browsers */
         url('NMSFuturaProBook_Kerned.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

