/* Webfont: NMSGeoSans-Regular */@font-face {
    font-family: 'NMSGeoSans';
    src: url('NMSGeoSans_Kerned.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NMSGeoSans_Kerned.woff') format('woff'); /* Modern Browsers */
         
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

